.container-file {
    display: flex;
}

.container-dashboard {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-content: center; */
    /* width: 100%; */
    align-items: center;
    width: 100%;
}

.header-table {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #161616;
    border-bottom: 1px solid #F4F4F4;
    padding: 20px;
}

.header-table-device {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: green;
    border-bottom: 1px solid greenyellow;
    padding: 20px;
}

.max-width-50 {
    max-width: 50px!important;
}
.padding-device {
    margin-left: 50px!important;
    padding: 20px;
}

.header-row-items {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #6f6f6f;
    padding: 20px;
    border-bottom: 1px solid #F4F4F4;
}

.color-upload {
    color: red;
}

.color-compressed {
    color: green;
}

.form-for-update {
    flex-direction: row;
    /* justify-content: flex-start; */
    padding-top: 30px;
    align-items: center;
}

.p-20{
    margin-right: 20px;
}

.txt-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}